*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: "Poppins", sans-serif;
}

.logo {
    cursor: default;
    color: lightcoral;
    font-weight: 600;
}

.container {
    width: 100%;
    max-width: 70rem;
    padding: 15px;
    margin: 0 auto;
}

.title {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
}

/*
  Inputs and Labels
*/
.form {
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.input {
    width: 100%;
    max-width: 70rem;

    border: 1px solid #e1e1e1;
    padding: 1rem;
    font-size: 1.4rem;
    color: #000;
}

.input.--search {
    margin: 1rem 0;
    border-radius: 1rem;
    border-color: #000;
}

.input::placeholder {
    color: grey;
}

.label {
    font-size: 1.6rem;
}

.button {
    cursor: pointer;
    padding: 1rem;
    border: 1px solid #000;
    background: lightgoldenrodyellow;
    font-size: 1.3rem;
    text-transform: uppercase;

    transition: all 0.2s linear;
}

.button:hover {
    transform: scale(1.05);
}

.button:disabled {
    background: lightgrey;
}
